# Searching Techniques

## Linear Search

In [1]:
l = [1,2,3,4,5]
t = 3
for i in l:
    if i == t:
        print(f'Value {t} matched in list')
    else:
        print('Not Found')

Not Found
Not Found
Value 3 matched in list
Not Found
Not Found

In [12]:
import os
path = os.getcwd()
with open("test.txt", "r") as fp:
    for line in iter(fp.readline, ''):
        print(line)

This is first statement

This is second statement

This is third statement

This is fourth statement

In [15]:
print("\N{slightly smiling face}")

ðŸ™‚

In [16]:
def test():

    var1 = [1,2,3,4]

    return var1

var1 = test()
print(var1)

[1, 2, 3, 4]

In [1]:
import os
os.getcwd()

'd:\\python_codes\\DataStructures_Algo'

In [7]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'Name': ['Tejas', 'Sagar', 'Ravi'],
                  'Age' : [27, 24, 28]})
df

    Name  Age
0  Tejas   27
1  Sagar   24
2   Ravi   28

In [8]:
df.shape[1]

2

In [10]:
sum([1, 4, 5, 10, 20])/5

8.0

In [13]:
4.32*4.32

18.6624

In [15]:
(120 - 150)/20

-1.5

In [23]:
(195 - 25)

170

In [24]:
import statistics as st
l = [20, 200, 20, 140, 40, 20, 50]
print(st.mean(l))
print(st.median(l))
print(st.mode(l))

70
40
20